# Dependencies
node_modules/
frontend/node_modules/

# Environment variables
.env

# Build output
frontend/build/
dist/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
